@font-face
  font-family Barlow-Medium
  font-style normal
  font-weight 500
  src url("/src/assets/static/fonts/Barlow-Medium.ttf")
  
@font-face
  font-family Barlow-Medium-Italic
  font-style italic
  font-weight 500
  src url("/src/assets/static/fonts/Barlow-MediumItalic.ttf")

@font-face
  font-family Barlow-Black
  font-style normal
  font-weight 900
  src url("/src/assets/static/fonts/Barlow-Black.ttf")

@font-face
  font-family Barlow-Black-Italic
  font-style italic
  font-weight 900
  src url("/src/assets/static/fonts/Barlow-BlackItalic.ttf")

@font-face
  font-family Barlow-Bold
  font-style normal
  font-weight 900
  src url("/src/assets/static/fonts/Barlow-Bold.ttf")

@font-face
  font-family Barlow-Bold-Italic
  font-style italic
  font-weight 900
  src url("/src/assets/static/fonts/Barlow-BoldItalic.ttf")