@import "./_fonts"
@import "../components/button"

html
  font-size 62.5%
  box-sizing border-box

*, *::after, *::before
  box-sizing inherit

body
  background color-white
  font-family Barlow-Medium-Italic, sans-serif
  font font-p
  color color-blue-light

h1
  font font-h1
  color color-blue
h2
  font font-h2
  color color-blue
h3
  font font-h3
  color color-blue
input, a, button, ul, li
  padding 0
  margin 0
  background none
  font-family inherit
  color inherit
  text-decoration none
  border none

ul
  list-style none
