@import "./_fonts"
@import "../components/button"

html
  font-size 62.5%

body
  background color-white
  font-family font-main-family
  font font-p
  color color-blue-light

h1
  font font-h1
h2
  font font-h2
h3
  font font-h3

h1,h2,h3
  color color-blue
  text-transform uppercase
