/* ********** *\
*   Colors
\* ********* */
color-white = #FFFFFF
color-gray = #E8EFF2
color-blue-light = #7B8BAD
color-blue = #162542
color-orange-light = #FF9B62
color-orange = #F16718


/* ********** *\
*   Fonts
\* ********* */
font-main-family = Barlow
font-weight-medium = 500
font-weight-bold = 700
font-weight-black = 900
font-h1 = normal font-weight-black 5.6rem\/5.6rem font-main-family
font-h2 = normal font-weight-black 3.2rem\/3.6rem font-main-family
font-h3 = normal font-weight-black 2.4rem\/2.8rem font-main-family
font-p = normal font-weight-medium 1.6rem\/2.6rem font-main-family
font-btn = normal font-weight-bold 1.6rem\/2.6rem font-main-family

 /* ********** *\
*   Measures
\* ********* */
px-unit = 5px
desktop-max-width = 1172px
mobile-width = 375px
margin-vertical = 32px
box-padding = 24px