/* ********** *\
*   Colors
\* ********* */
color-white = #FFFFFF
color-gray = #E8EFF2
color-blue-light = #7B8BAD
color-blue = #162542
color-orange-light = #FF9B62
color-orange = #F16718


/* ********** *\
*   Fonts
\* ********* */
 font-h1 = 5.6rem\/5.6rem Barlow-Black
 font-h2 = 3.2rem\/3.6rem Barlow-Black
 font-h3 = 2.4rem\/2.8rem Barlow-Black
 font-p = 1.6rem\/2.6rem Barlow-Medium
 font-btn = 1.6rem\/2.6rem Barlow-Bold