.features
  padding box-padding
  margin-top margin-vertical * 3
  &__item
    text-align center
    & + &
      margin-top 64px

  &__icon
    margin auto
    margin-bottom 48px
  &__headline
    width 200px
    margin auto
    margin-bottom 24px