.header
  display flex
  justify-content space-between
  align-items center
  padding 0 (px-unit * 5)
  padding-top (px-unit * 5)
  max-width desktop-width
  min-width 320px
  &__logo
    height 40px

